---
layout: default
---

  <div class="hero">
     {% include header.html %}
    <div class="hero-content">
        <div class="intro-text">
            <p><span>Hi, we are the Hernandez Family, Independent Baptist Missionaries to Thailand.</span> We arrived in Thailand in December 2014.</p>
            <a href="#" class="button hollow">Learn More</a>
        </div><!--/intro-text-->
        <img src="http://sitesforchurch.s3.amazonaws.com/familyphoto.png" alt="">
    </div><!--/hero-content-->
  </div><!--/hero-->
  {% include homebanner.html %}
  <div class="main-content">
    <h2>Ministry Updates</h2>
    <article class="ministry-update">
      <a href="#" class="featured_image"><img src="http://placehold.it/1920x1080?text=featured+image" alt=""></a><!--/featured_image-->
      <h3><a href="#">Title goes here for the update</a></h3>
      <h4>January 1, 2000</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint nobis fugit reprehenderit, eius officia, repudiandae in officiis, explicabo cumque voluptates, accusamus accusantium magnam soluta alias adipisci voluptate aliquam! Maxime. </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus dolorum saepe ipsum unde, placeat nemo corrupti dolor eos cumque quo facere asperiores libero ipsam exercitationem recusandae itaque quidem perferendis.</p>
      <a href="#" class="button hollow">Read More</a>
    </article><!--/ministry-update-->
    <article class="ministry-update">
      <a href="#" class="featured_image"><img src="http://placehold.it/1920x1080?text=featured+image" alt=""></a><!--/featured_image-->
      <h3><a href="#">Title goes here for the update</a></h3>
      <h4>January 1, 2000</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint nobis fugit reprehenderit, eius officia, repudiandae in officiis, explicabo cumque voluptates, accusamus accusantium magnam soluta alias adipisci voluptate aliquam! Maxime. </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio doloribus dolorum saepe ipsum unde, placeat nemo corrupti dolor eos cumque quo facere asperiores libero ipsam exercitationem recusandae itaque quidem perferendis.</p>
      <a href="#" class="button hollow">Read More</a>
    </article><!--/ministry-update-->
  </div><!--/main-content-->