---
layout: default
---

<div class="informed-header">
 {% include header.html %}
  <div class="main-content">
      <div class="informed-tabs">
          <a href="#" class="active">Our Family</a>
          <a href="{{site.url}}informed-country.html">Thailand</a>
      </div><!--/informed-tabs-->
      <div class="informed-page">
          <div class="informed-menu">
            <ul class="menu vertical">
                <li><a href="#top">Overview</a></li>
                <li><a href="#testimonies">Testimonies</a></li>
                <li><a href="#Education">Education &amp; Training</a></li>
                <li><a href="#beliefs">Beliefs</a></li>
                <li><a href="#media">Media</a></li>
            </ul>
        </div><!--/informed-menu-->
        <article>
            <div id="top">
            {% if  site.data.intro[0].Image %}
                {% for img in site.data.intro[0].Image %}
                <img src="{{img.url}}" alt="">
                {% endfor %}
            {% endif %}
            <h1>{{site.data.intro[0].Heading}}</h1> 
            
            {{ site.data.intro[0].Content | markdownify }}

            </div><!--#top-->
            <div id="testimonies" class="informed-section">
                <h2>Testimonies</h2>
                {% for test in site.data.testimonies %}
                <div class="testimony">
                    {% if  test.Image %}
                    {% for img in test.Image %}
                    <img src="{{img.url}}" alt="">
                    {% endfor %}
                    {% endif %}
                    
                    <h4>{{test.Name}}</h4>
                    {{test.Content | markdownify }}
                </div><!--/testimony-->
              {% endfor %}
            </div><!--#testimonies-->
            <div id="Education" class="informed-section">
                <h2>{{site.data.experience[0].Heading}}</h2>
                {% if site.data.experience[0].Image %}
                {% for img in site.data.experience[0].Image %}
                     <img src="{{img.url}}" alt="">
                {% endfor %}
                {% endif %}
               
                {{site.data.experience[0].Content | markdownify }}
            </div><!--/#education-->
            <div id="beliefs" class="informed-section">
                <h2>Beliefs</h2>
                {% for belief in site.data.beliefs %}
                <div class="belief">
                    <h3><i class="fa {{belief.icon }}"></i> {{belief.title}}</h3>
                    {{ belief.Content | markdownify }}
                </div><!--/belief-->
                {% endfor %}
            </div><!--/#beliefs-->
            <div id="media">
            <h2>Media</h2>
            {% for item in site.data.media %}
            {% if  item.Type == "Embed" %}
                <h4>{{item.Media_Title}}</h4>
                {% if item.Description %}
                {{item.Description | markdownify }}
                {% endif %}

                <div class="flex-video">{{item.Embed_Code | raw }}</div>
            {% endif %}
            {% if  item.Type == "File_Link" %}
                <h4>{{item.Media_Title}}</h4>
                {% if item.Description %}
                {{item.Description | markdownify }}
                {% endif %}
                <a href="{{item.URL }}" class="button">Download</a> 
            {% endif %}
            {% if  item.Type == "Upload" %}
                <h4>{{item.Media_Title}}</h4>
                {% if item.Description %}
                {{item.Description | markdownify }}
                {% endif %}
                {% for thing in item.Attachments %}
                <a href="{{thing.url }}" class="button">Download</a> 
                {% endfor %}
            {% endif %}
            {% endfor %}
            </div><!--/media-->
        </article>
        
    </div><!--/informed-page-->
    </div><!--/informed-header-->
  </div><!--/main-content-->
