<footer>
    <h1>Looking for More?</h1>
    <div class="footer-wrapper">
        <div class="archives">
            <a href="#">
                <h3>View the Archives</h3>
                <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div><!--/archives-->
        <div class="signup">
            <h3>Signup for Email Archives</h3>
            <form action="#">
                <input type="text" placeholder="youremail@email.com">
                <button type="submit" class="button">Sign Up</button>
            </form> 
        </div><!--/signup-->
    </div><!--/footer-wrapper-->
    <div class="footer-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog/Prayer Letters</a></li>
            <li><a href="#">Our Ministry</a></li>
            <li><a href="#">Thailand</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div><!--/footer-menu-->
</footer>
