hom<div class="home-banner">
    <div class="social">
        <p>Connect with the Hernandez Family on Social Media:</p>
        <div class="social-buttons">
            <a href="https://www.facebook.com/ahmethernandez"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/ahmethernandez"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com/u/0/+AhmetHernandez/posts"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.youtube.com/channel/UCbm7A4wXaT58LqJ4_y0pTkQ"><i class="fa fa-youtube"></i></a>
        </div><!--/social-buttons-->
    </div><!--/social-->
    <div class="main-buttons">
      <div class="single-main-button">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-play-circle fa-stack-2x fa-inverse"></i>
          </span>
          <p>Watch Our Intro Video</p>
        </a>
      </div><!--/single-main-button-->
      <div class="single-main-button">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-globe fa-stack-2x fa-inverse"></i>
          </span>
          <p>Learn About Thailand</p>
        </a>
      </div><!--/single-main-button-->
      <div class="single-main-button">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
          <i class="fa fa-paper-plane fa-stack-1x fa-inverse" style="color: #F19D06"></i>
          </span>
          <p>Plan A <br> Missions Trip</p>
        </a>
      </div><!--/single-main-button-->
      <div class="single-main-button">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
          <i class="fa fa-credit-card fa-stack-1x fa-inverse" style="color: #F19D06"></i>
          </span>
          <p>Donate to Our Ministry</p>
        </a>
      </div><!--/single-main-button-->
    </div><!--/buttons-->
  </div><!--/home-banner-->