<div class="home-banner">
    <div class="social">
        <p>Connect with the Hernandez Family on Social Media:</p>
        <div class="social-buttons">
          {% if site.data.contact[0].Facebook  %}
            <a href="{{site.data.contact[0].Facebook}}"><i class="fa fa-facebook"></i></a>{% endif %}
             {% if site.data.contact[0].Twitter  %}<a href="{{site.data.contact[0].Twitter}}"><i class="fa fa-twitter"></i></a>{% endif %}
             {% if site.data.contact[0].GooglePlus  %}<a href="{{site.data.contact[0].GooglePlus}}"><i class="fa fa-google-plus"></i></a>{% endif %}
             {% if site.data.contact[0].Youtube  %}<a href="{{site.data.contact[0].Youtube}}"><i class="fa fa-youtube"></i></a>{% endif %}
             {{site.data.contact.Facebook | raw }}
        </div><!--/social-buttons-->
    </div><!--/social-->
    <div class="main-buttons">
      <div class="single-main-button">
        <a href="https://www.youtube.com/embed/vt1Ts9UTUOs">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-play-circle fa-stack-2x fa-inverse"></i>
          </span>
          <p>Watch Our Intro Video</p>
        </a>
      </div><!--/single-main-button-->
      <div class="single-main-button">
        <a href="{{site.url}}informed-country.html">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-globe fa-stack-2x fa-inverse"></i>
          </span>
          <p>Learn About Thailand</p>
        </a>
      </div><!--/single-main-button-->
      <div class="single-main-button">
        <a href="{{site.url}}involved.html">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
          <i class="fa fa-paper-plane fa-stack-1x fa-inverse" style="color: #F19D06"></i>
          </span>
          <p>Plan A <br> Missions Trip</p>
        </a>
      </div><!--/single-main-button-->
      <div class="single-main-button">
        <a href="{{site.url}}involved.html">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color: #fff"></i>
          <i class="fa fa-credit-card fa-stack-1x fa-inverse" style="color: #F19D06"></i>
          </span>
          <p>Donate to Our Ministry</p>
        </a>
      </div><!--/single-main-button-->
    </div><!--/buttons-->
  </div><!--/home-banner-->