---
layout: default
---

<div class="blog-header">
 {% include header.html %}
  </div><!--/header-->
  <div class="main-content">
    <h2>Ministry Updates</h2>
    <article class="ministry-update">
      {% if  page.featured_image %}
        {% for img in page.featured_image %}
        <a href="#" class="featured_image">
        <img src="{{img.url}}" alt=""></a><!--/featured_image-->
        {% endfor %}
        {% else %}
        {% for img in site.data.updateimage[0].Featured_Image %}
      <a href="#" class="featured_image">
        <img src="{{img.url}}" alt=""></a><!--/featured_image-->
          {% endfor %}
     {% endif %}
      <h3><a href="#">{{page.title}}</a></h3>
      <h4>{{page.date}}</h4>
      {{page.body_content | markdownify }}
    </article><!--/ministry-update-->
    {% include share.html %}
  </div><!--/main-content-->
